body {
  background-image: url("./assets/uvicspace1.jpg");
  background-color: #333333;
  background-size: cover;
  background-position: center;
}
.ghicon {
  position: absolute;
  margin: 5px;
  box-sizing: border-box;
  right: 0px;
  bottom: 0px;
}
.ghicon:hover {
  opacity: 0.7;
}
